<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<%= link_to 'Index', restaurants_path %>
<%= link_to 'add reviews', new_restaurant_review_path(@restaurant.id) %>

<% @restaurant.reviews.each do |r| %>
<ul>
<li><%= r.content %></li>
<li><p> rating: <%= r.rating %> </p></li>
</ul>
<% end %>
